/* Google Fonts Script */
  @import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Orbit&family=Permanent+Marker&display=swap');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
}


#quiz-logo {
    display: flex;
    justify-content: center;
}

#quiz-logo img {
    max-width: 50%;
}


/* Presentation Section */

.presentation {
    background-color: blue;
    text-align: center;
    padding: 5vh;
    margin: 0 auto;
    width: 100%;
}

button {
    background-color:#525252;
    color:#F5F5F5;
    padding: .9em;
    font-size: 1em;
}

form>button:hover {
    background-color:#AC3B61;
    color:#F5F5F5;
    cursor: pointer;
    border:#AC3B61;
}






/* Start of Footer Section */

.footer-container {
    height: 125px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #ff2273;
}

/* Social Media */
.social-media li {
    list-style-type: none;
    display: inline-flex;
    position: relative;
    padding: 0.9vh;
}

.networks i {
    color: #ffffff;
    font-size: 45px;
}

.networks i:hover {
    color: #00bfc3;
}

/* Copyrights  - parágrafo continua com linha em baixo. verificar*/
.copyrights  {
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #ffffff;
}

.copyrights a {
    text-decoration: none;
    color: #ffffff;
}

.copyrights a:hover {
    border-bottom: 1px solid #ffff;
}
/* End of Footer Section */
